.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*edit-input*/
.edit-input {
  width: 30%;
  height: 100%;
  background: green;
}

.edit-input input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
/*edit-input end*/

/*edit-preview*/
.edit-preview {
  background-color: gray;
}
/*edit-preview end*/

/*cv begin */
.resume1 {
  width: 21cm;
  min-height: 29cm;
  background-color: white;
  margin: 60px auto 0px auto;
}

.resume1-lower-container {
  display: flex;
  flex-direction: row;
}

.resume1-left {
  width: 70%;
}

.resume1-right {
  width: 30%;
}

/*cv end */
