.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*edit-preview*/
.edit-preview {
  background-color: gray;
}
/*edit-preview end*/

/*cv begin */
.resume1 {
  width: 70%;
  
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
  
}

.cv {
  width: 210mm;
  height: 297mm;
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
}

.resume1 ul {
  list-style-type: none;
}

.resume1 h4 {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.resume1 p {
  width: 100%;
  word-break: normal;
}



.resume1-text {
  margin-top: 10px;
}

.resume1-indent {
  box-sizing: border-box;
  padding-left: 30px;
}

.left30 {
  margin-left: 30px;
}

.resume1-head {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.resume1-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.resume1-left {
  width: 60%;
  text-align: left;
}

.resume1-left > *:not(:last-child) {
  margin-bottom: 15px;
}

.resume1-left h2 {
  margin-bottom: 5px;
}



.resume1-right {
  width: 30%;
  margin-right: 10px;
}

.resume1-links ul {
  list-style-type: none;
}

.resume1-bar {
  width: 100%;
  height: 5px;
  background: gray;
}

.resume1-bar-inner {
  background: blue;
  height: inherit;
}

.level-0 {
  width: 0%;
}

.level-1 {
  width: 10%;
}

.level-2 {
  width: 25%;
}

.level-3 {
  width: 50%;
}

.level-4 {
  width: 75%;
}

.level-5 {
  width: 100%;
}

/*cv end */
