*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: auto;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Edit start */

.edit-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.edit-preview {
  width: 70%;
  height: 100%;
  background: rgb(228, 233, 228);
}

/* Edit end */

/*edit-input*/
.edit-input {
  width: 30%;
  height: 100%;
  background: green;
  overflow-x: auto;
}

.edit-input h1 {
  margin: 30px 0px 30px 0px;
  font-size: 24px;
}

.edit-input h4 {
  font-size: 16px;
  margin-bottom: 15px;
}
.edit-input__section {
  box-sizing: border-box;
  width: 95%;
  padding: 10px 0px 10px 0px;
  margin: 30px auto;
}

.edit-input__title {
  background: green;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: text;
}

.edit-input input,
.edit-input textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;
  width: 80%;
}

.edit-input__button {
  font-size: 24px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  color: white;
}

.edit-input__button_add {
  background-color: blue;
}
.edit-input__button_minus {
  background-color: red;
}

.edit-input select {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;
  width: 80%;
}

.edit-input select[option] {
  cursor: pointer;
}

.edit-input__work ul li {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid white;
  list-style-type: none;
}

.edit-input__skills li {
  margin-top: 10px;
}

.edit-input__skills li {
  border: 1px solid white;
}

/*edit-input end*/

/*dashboard*/

.dashboard {
  position: relative;
  height: 100vh;
  width: 100%;
}

.dashboard-resumes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  overflow-x: auto;
}

.dashboard-resumes__section {
  height: 300px;
  width: 250px;
  background-color: gray;
}

.dashboard-resumes__add {
  font-size: 30px;
}

/*dashboard end*/
