*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: auto;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Edit start */

.edit-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.edit-input {
  width: 30%;
  height: 100%;
  background: green;
}

.edit-preview {
  width: 70%;
  height: 100%;
  background: rgb(228, 233, 228);
}

/* Edit end */
